{% extends 'base.html.twig' %}
{% block title %}Symfony - Helloworld{% endblock %}


{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Hello world {{ name }}!</h1>
    <p>You are an user</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    {% for country in countries %}
    <div class="col-lg-4">
      <h2> {{country.getName()}}</h2>
      <ul>
        {% for info in country.getInfos() %}
          <li>{{info.getName()}} : {{info.getInfo()}} </li>
        {% endfor %}
      </ul>
      <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
    </div>
    {% endfor %}
  </div>

  <hr>
{% endblock %}
