{% extends 'base.html.twig' %}
{% block title %}Symfony - Helloworld{% endblock %}


{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Hello world {{ name }}!</h1>
    <p>Choose between two default users: <em>user/userpass</em> <small>(ROLE_USER)</small> or <em>admin/adminpass</em> <small>(ROLE_ADMIN)</small></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    {% for country in countries %}
    <div class="col-lg-4">
      <h2> {{country.getName()}}</h2>
    </div>
    {% endfor %}
  </div>

  <hr>
{% endblock %}
